/Build
/Debug
/Ressources
/Guide
/Ignored
/Library/debug
/Library/release
/.devcontainer
/.vscode
*/.vscode
/.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/x64
/x86
*.db
*.a
*.opendb
*.plg
*.elf
*.zip
*.7z
*.bmp
*.3gx
*.tar.bz2
objdump
